---
title: Home
subtitle: The page is a visual contraption. Can I move it?
link1: "Portfolio"
link2: "Collaborative Work"
link3: "Wagwan"
link4: "Contact Information"
background: trolley
---

{% extends "layouts/index.njk"%}
