---
title: Maths And Words
gameTitle: Maths Game
gameInstructions: Please enter the results to the questions as soon as you can.
buttonText: Submit
promptText: Please Remember Your Word. 
---

{% extends "layouts/index.njk"%}
