<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        {% include "partials/head.njk" %}

        <link rel="stylesheet" type="text/css" href="/styles/tailwind.css" />
        <link rel="stylesheet" type="text/css" href="/styles/index.css" />
    
    </head>

    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>